{% extends "mainApp/wrapper.html" %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-default bg-light" >
        <div class="container">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active">
            <a class="nav-link" href="All" ><font color=#4B2455><small>Об о всём</small></font></a>
          </li>
          <li>
            <a class="nav-link" href="Eat"><font color=#4B2455><small>Еда</small></font></a>
          </li>
          <li>
            <a class="nav-link" href="Street"><font color=#4B2455><small>Свежий воздух</small></font></a>
          </li>
          <li>
            <a class="nav-link" href="Street"><font color=#4B2455><small>Лалала</small></font></a>
          </li>
          <li>
            <a class="nav-link" href="Street"><font color=#4B2455><small>Ещё что-то</small></font></a>
          </li>
          <li>
            <a class="nav-link" href="Street"><font color=#4B2455><small>И здесь</small></font></a>
          </li>
          <li>
            <a class="nav-link" href="Street"><font color=#4B2455><small>И тут</small></font></a>
          </li>
        </ul>
      </div>
    </nav>
<div class="row" style="padding:7%">
  <div class="col-lg-6">
  </div>
  <div class="col-lg-3">
  </div>
</div>
{% endblock %}
